@-webkit-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.load-icon {
	text-align: center;
	margin: 100px 0 0 0;
}

.load-icon span {
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: opacity;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;*/

	animation-name: opacity;
	animation-duration: 1s;
	animation-iteration-count: infinite;

	animation-name: opacity;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.load-icon span:nth-child(2) {
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
	animation-delay: 100ms;
	animation-delay: 100ms;
}

.load-icon span:nth-child(3) {
	-webkit-animation-delay: 300ms;
	-moz-animation-delay: 300ms;
	animation-delay: 300ms;
	animation-delay: 300ms;
}
