body, html {
  max-width: 960px;
  background-color: lightgrey;
  text-align: center;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;


}



.hidden {
  display: none;
}

.li-left p{
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

  .li-left {
    position: absolute;
    left: 10px;
    padding-right: 50px;
  }

  .li-right {
  position: absolute;
  right: 10px;



  }

  .cal-number {
    margin-right: 50px;
    margin-top: 25px;
  }

  .datepicker {
    margin:0 auto;
    margin-top: 20px;
    font-size: 0.85em;
    display:inline-block;


  }

@media screen and (max-width: 550px) {
.datepicker {
font-size: 0.77em;
display:inline-block;
  margin:0 auto;
  

}

.added-items-list li {
  height: 5.2em;
}
.cal-number {

  margin-top: 60px;
}
}






.main-box {
  width: 100%;
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: linear-gradient(to bottom, #93a4c3 5%, #71869f 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
  background-color: #7892c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  padding-bottom: 15px;
  padding-top: 0px;


}


.app-name {
  margin-bottom: 5px;
}

.app-name-ultimate {
  margin: 0px;
}


.app-name-platinum {
  color: gold;
  margin: 0px;
}

.instructions {
  padding: 2px;
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 10px;
}

.instructions li{
display: inline;

}

.instructions li:not(:last-child) {
  padding-right: 2%;
}

.highlighted {
  background-color: Green !important;
  background-image: none !important;
  color: White !important;
  font-weight: bold !important;
  font-size: 12pt;
}

.search-section {
  margin-top: 10px;
  padding: 0;
}

form{
  font-size: 0px;
  position: relative;
  margin-bottom: -10px;
  margin-top: 2px;
}

.search-input {
  margin-top: 2px;
  width: 50%;
  height: 30px;
}

.submit-button {
  border-radius: 2px;
  width: 60px;
  color: white;
height: 30px;
 background: #6476b5;
  border: 0px;
  margin-left: 5px;
}

.submit-button:hover {
  background: #7f96e7;
}

.clear-button {
  border-radius: 2px;
  width: 60px;
  color: white;
  height: 30px;
 background: #6476b5;
  border: 0px;
  margin-left: 5px;
}

.clear-button:hover {
  background: #7f96e7;
}

.search-results {
  font-size: 0.8em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  list-style-type: none;
  position: relative;
}
.search-results li {
  border-radius: 5px;
  color: black;
  background: #d7ebf9;
  padding: 10px;

  margin-bottom: 2px;
  cursor: pointer

}

.search-results li:hover {
  background: #bee0f7;
}




.adding-section {
  width: 100%;
  min-height: 24%;
  text-align: justify;
  color: black;
  margin-left: auto;
  margin-right: auto;


}

.added-items-list{
  padding: 0px;
  list-style-type: none;
  position: relative;
}

.added-items-list li {
  color: #000000;
  font-size: 0.9em;
  border-radius: 15px;
  background: #d7ebf9;
  padding: 10px;
  padding-top: 7px;

  margin-bottom: 2px;
  text-indent: 20px ;
  min-height: 3.3em;

}


.day-section {
  margin-top: 10px;
  margin-bottom: 2px;
  padding-bottom: 10px;

}



.remove-button {
  -webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
  background: none;
  border: 0;
	top: 0px;
	right: 10px;
	bottom: 0px;
	width: 40px;
	height: 35px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
  margin-left: 0px;
  margin-bottom: 10px;


}

.remove-button:after {
	content: '✖';
}

.remove-button:hover
 {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.remove-button:focus {outline:0;}
