<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Calorie Tracker</title>

  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.css">
  <link rel="stylesheet" href="css/jquery-ui.theme.css">
  <link rel="stylesheet" href="css/simplegrid.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <header>


    <div class="main-box">
      <h1 class="app-name">DAILY CALORIE TRACKER</h1>
      <h4 class="app-name-ultimate">ULTIMATE PREMIUM PRO 9000</h4>
      <h4 class="app-name-platinum">PLATINUM EDITION</h4>
    </div>


    <ul class="main-box instructions">
      <li>1. Search foods from Nutritionix DB </li>
      <li>2. Add them to the daily list </li>
      <li>3. Monitor your daily calorie intake </li>
    </ul>
  </header>

  <div class="app-main">
    <div class="main-box search-section">
      <form>
      <input type="search" placeholder="Search foods items..." class="search-input">
      <input type="button" value="Search" class="submit-button"></input>
      <button class="clear-button">Clear</button>
    </form>
      <ul class="search-results"></ul>
    </div>

    <div class="grid grid-pad main-box day-section">

      <div class="col-4-12">
        <div class="total-cal-section">
          <h3 class="total-cal-title">Day's Total Calories: <p class="total-calories">0</p></h3>
        </div>
        <div class="datepicker"></div>
      </div>

      <div class="col-8-12">
        <div class="adding-section">
          <ol class="added-items-list"></ol>
        </div>

      </div>

    </div>

     <div class="item-added-tag hidden"><span>Item Added</span></div>
  </div>


  <script type="text/template" class="search-item-template">
    <span><%= brand %> &mdash; <%= name %> <%=  grams ? grams + "g" : "" %> &mdash; <%= calories %> Cal</span>
  </script>

  <script type="text/template" class="added-item-template">

    <div class="">
    <p class="item-description"><%= brand %> - <%= name %> <%= grams ? "- " + grams + "g" : "" %></p>
    <p class="cal-number"><%= calories %> cal</p>
    <button class="remove-button"></button>
    </div>


  </script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components\jqueryUI\jquery-ui.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone-min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
  <!-- BackboneFire -->
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

  <script src="js/search/search-model.js"></script>
  <script src="js/search/search-col.js"></script>
  <script src="js/search/search-view.js"></script>

  <script src="js/sumtable/sumtable-model.js"></script>
  <script src="js/sumtable/sumtable-col.js"></script>
  <script src="js/sumtable/sumtable-view.js"></script>

  <script src="js/app.js"></script>

</body>

</html>
